<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestClock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF29B4721E13F1C400BE87B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF29B48B1E13F1C400BE87B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF29B4961E13F1C400BE87B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
